#include "../constants.h"
#include "../macros.dtsi"
#include "switches.h"
#include "../../common/combos.dtsi"


/ {
    combos {
        compatible = "zmk,combos";


        // from game layer to base layer
        COMBO(U_SYM, RIGHT_THUMB_OUTER, BOTTOM_RIGHT_CORNER, &to U_BASE)
    };
};
