// ┌───┬───┬───┬───┬───┬───╥───┬───┬───┬───┬───┬───┬───┬───────┬───┐
// │   │   │   │   │   │   ║   │   │   │   │   │   │   │       │   │
// ├───┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─╨─╥─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─────┼───┤
// │     │   │   │   │ [ │   ║   │ ] │ ' │ - │   │   │   │     │   │
// ├─────┴┬──┴┬──┴┬──┴┬──┴┬──╨╥──┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴─────┼───┤
// │      │   │TAB│ESC│ { │   ║   │ } │ " │ = │   │   │        │   │
// ├──────┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─╨─╥─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴────┬───┼───┤
// │        │   │   │DEL│ ( │   ║   │ ) │ ` │ _ │   │      │   │   │
// ├────┬───┴┬──┴─┬─┴───┴───┴───╨───┴───┴──┬┴──┬┴──┬┴──┬───┼───┼───┤
// │    │    │    │         SPACE+         │   │   │   │   │   │   │
// └────┴────┴────┴────────────────────────┴───┴───┴───┴───┴───┴───┘

// ┌───┬───┬───┬───┬───┬───┐           ┌───┬───┬───┬───┬───┬───┐
// │   │   │   │   │ [ │   │           │   │ ] │ ' │ - │   │   │
// ├───┼───┼───┼───┼───┼───┤           ├───┼───┼───┼───┼───┼───┤
// │   │   │TAB│ESC│ { │   │           │   │ } │ " │ = │   │   │
// ├───┼───┼───┼───┼───┼───┤           ├───┼───┼───┼───┼───┼───┤
// │   │   │   │DEL│ ( │   │           │   │ ) │ ` │ _ │   │   │
// └───┴───┴───┴──┬┴──┬┴──┬┴───┐   ┌───┴┬──┴┬──┴┬──┴───┴───┴───┘
//                │   │   │ LTO│   │RTO │   │   │
//                └───┴───┴────┘   └────┴───┴───┘


/ {
    combos {
        compatible = "zmk,combos";

        // tab
        QUICK_COMBO(U_BASE, MIDDLE_LEFTRING, LEFT_THUMB_OUTER, &kp TAB)

        // [
        COMBO(U_BASE, TOP_LEFTINDEX, LEFT_THUMB_OUTER, &kp LBKT)

        // {
        COMBO(U_BASE, MIDDLE_LEFTINDEX, LEFT_THUMB_OUTER, &kp LBRC)

        // (
        COMBO(U_BASE, BOTTOM_LEFTINDEX, LEFT_THUMB_OUTER, &kp LPAR)

        // escape
        QUICK_COMBO(U_BASE, MIDDLE_LEFTMIDDLE, LEFT_THUMB_OUTER, &kp ESC)

        // del
        QUICK_COMBO(U_BASE, BOTTOM_LEFTMIDDLE, LEFT_THUMB_OUTER, &kp DEL)

        // [
        COMBO(U_BASE, TOP_RIGHTINDEX, RIGHT_THUMB_OUTER, &kp RBKT)

        // }
        COMBO(U_BASE, MIDDLE_RIGHTINDEX, RIGHT_THUMB_OUTER, &kp RBRC)

        // )
        COMBO(U_BASE, BOTTOM_RIGHTINDEX, RIGHT_THUMB_OUTER, &kp RPAR)

        // '
        COMBO(U_BASE, TOP_RIGHTMIDDLE, RIGHT_THUMB_OUTER, &kp SQT)

        // "
        COMBO(U_BASE, MIDDLE_RIGHTMIDDLE, RIGHT_THUMB_OUTER, &kp DQT)

        // `
        COMBO(U_BASE, BOTTOM_RIGHTMIDDLE, RIGHT_THUMB_OUTER, &kp GRAVE)

        // -
        COMBO(U_BASE, TOP_RIGHTRING, RIGHT_THUMB_OUTER, &kp MINUS)

        // =
        COMBO(U_BASE, MIDDLE_RIGHTRING, RIGHT_THUMB_OUTER, &kp EQUAL)

       // _
       COMBO(U_BASE, BOTTOM_RIGHTRING, RIGHT_THUMB_OUTER, &kp UNDER)

        // ┌───┬───┬───┬───┬───┬───╥───┬───┬───┬───┬───┬───┬───┬───────┬───┐
        // │   │   │   │   │   │   ║   │   │   │   │   │   │   │       │   │
        // ├───┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─╨─╥─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─────┼───┤
        // │     │   │   │   │   │   ║   │   │   │   │   │   │   │     │   │
        // ├─────┴┬──┴┬──┴┬──┴┬──┴┬──╨╥──┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴─────┼───┤
        // │      │   │   │   │CAP│   ║   │LCK│   │   │   │   │        │   │
        // ├──────┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─╨─╥─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴────┬───┼───┤
        // │        │   │   │   │   │   ║   │   │   │   │   │      │   │   │
        // ├────┬───┴┬──┴─┬─┴───┴───┴───╨───┴───┴──┬┴──┬┴──┬┴──┬───┼───┼───┤
        // │    │    │    │                        │   │   │   │   │   │   │
        // └────┴────┴────┴────────────────────────┴───┴───┴───┴───┴───┴───┘
        // ┌───┬───┬───┬───┬───┬───┐           ┌───┬───┬───┬───┬───┬───┐
        // │   │   │   │   │   │   │           │   │   │   │   │   │   │
        // ├───┼───┼───┼───┼───┼───┤           ├───┼───┼───┼───┼───┼───┤
        // │   │   │   │   │CAP│   │           │   │LCK│   │   │   │   │
        // ├───┼───┼───┼───┼───┼───┤           ├───┼───┼───┼───┼───┼───┤
        // │   │   │   │   │   │   │           │   │   │   │   │   │   │
        // └───┴───┴───┴──┬┴──┬┴──┬┴───┐   ┌───┴┬──┴┬──┴┬──┴───┴───┴───┘
        //                │   │   │    │   │    │   │   │
        //                └───┴───┴────┘   └────┴───┴───┘
        // caps lock
        COMBO(U_BASE, MIDDLE_LEFTINDEX, MIDDLE_RIGHTINDEX, &caps_word)
    };
};
