#define MIRYOKU_DOUBLE_TAP_GUARD(NAME, BINDING) \
/ { \
  behaviors { \
    NAME: NAME { \
      compatible = "zmk,behavior-tap-dance"; \
      #binding-cells = <0>; \
      tapping-term-ms = <U_TAPPING_TERM>; \
      bindings = <&none>, <BINDING>; \
    }; \
  }; \
};

#define MIRYOKU_X(LAYER, STRING) \
MIRYOKU_DOUBLE_TAP_GUARD(u_to_U_##LAYER, &to U_##LAYER)
MIRYOKU_LAYER_LIST
#undef MIRYOKU_X

// #if defined (MIRYOKU_KLUDGE_DOUBLETAPBOOT)
//   #if defined (MIRYOKU_KLUDGE_SUSPEND)
// MIRYOKU_DOUBLE_TAP_GUARD(u_suspend, &suspend)
  // #else
MIRYOKU_DOUBLE_TAP_GUARD(u_bootloader, &bootloader)
  // #endif
// #endif


#define COMBOS_TIMEOUT 50
#define COMBOS_WAIT_MS 10
#define COMBO(LAYER, KEY1, KEY2, BINDING) \
combos_ ## LAYER ## _ ## KEY1 ## KEY2 { \
  require-prior-idle-ms = <COMBOS_WAIT_MS>; \
  timeout-ms = <COMBOS_TIMEOUT>; \
  layers = <LAYER>; \
  key-positions = <KEY1 KEY2>; \
  bindings = <BINDING>; \
};

#define TOTAL_SWITCHES 12
#define SWITCH(ROW, COL) TOTAL_SWITCHES * ROW + COL
